body {
    font-family: arial, sans-serif;
}

.icon {
    width: 25px;
    height: 25px;
}

header .left {
    float: left;
}

header .right {
    float: right;
}

main {
    width: 300px;
    height: 100px;
    margin: auto;
    position: relative;
    top: 130px;
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

footer .left {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

footer .right {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.right button {
    background: linear-gradient(180deg,#4387fd,#4683ea);
    color: white;
    font-weight: bold;
    border: 1px solid #4285f4;
    line-height: 28px;
    padding: 0 12px;
    cursor: default;
    font-size: 13px;
}

button {
    border-radius: 2px;
}